# Atlanta Crime Rate Data Visualization

By: Emmanuel Muse

My curiosity was the fuel behind this project, I wanted to focus on Atlanta crime rates to better determine how crime occurs across Atlanta, and to improve the general public of Atlanta's knowledge and answer any safety concerns. 

By utilizing the csv file published by the Atlanta Police Department's from 2017, I was able to produce multiple styling of graphs to display the data in a digestable format. The data consisted of information about the offense, the report date, occurance time and date, and possession time and date. It also included the location, number of maximum victims, shift day, day of the week, location type, crime type, neighborhood, and coordinates of each crime reported.

## Importing Libraries and Data

Import pandas, numpy, plotly and matplotlib libraries

In [3]:
import pandas as pd
import numpy as np
import plotly.express as plty
import matplotlib.pyplot as plt

Enable IPython to display matplotlib graphs.

In [4]:
%matplotlib inline
from matplotlib import colors
from matplotlib.ticker import PercentFormatter

Creating dataframes for each year of APD Crime Data

In [14]:
#constructor function, crime_data_to_df, for turning different datasets into usable dataframes
def crime_data_to_df(dataset_path, dataset_dates_columns, index_column_input):
    crime_data = pd.read_csv(dataset_path, parse_dates = dataset_dates_columns, index_col = index_column_input)
    return crime_data

In [5]:
# creating apd_data dataframe for 2017
apd_data_2017 = pd.read_csv("./datasets/apd_crime_2017.csv", parse_dates=['rpt_date','occur_date','poss_date'], index_col = 0)
apd_data_2017.head()

,offense_id,rpt_date,occur_date,occur_time,poss_date,poss_time,beat,apt_office_prefix,apt_office_num,location,...,dispo_code,MaxOfnum_victims,Shift,Avg_Day,loc_type,UC2 Literal,neighborhood,npu,x,y
MI_PRINX,,,,,,,,,,,,,,,,,,,,,
8924155,173650072.0,2017-12-31,2017-12-30,23:15:00,2017-12-31,0:30:00,510,NaN,NaN,43 JESSE HILL JR DR NE,...,NaN,2.0,Morn,Sat,13.0,LARCENY-FROM VEHICLE,Downtown,M,-84.38013,33.75582
8924156,173650102.0,2017-12-31,2017-12-18,13:00:00,2017-12-30,22:00:00,501,NaN,NaN,1169 ATLANTIC DR NW,...,NaN,1.0,Unk,Unk,13.0,LARCENY-FROM VEHICLE,Home Park,E,-84.39745,33.78674
8924157,173650144.0,2017-12-31,2017-12-30,22:01:00,2017-12-31,1:00:00,303,NaN,NaN,633 PRYOR ST SW,...,NaN,1.0,Morn,Sat,18.0,LARCENY-FROM VEHICLE,Mechanicsville,V,-84.39486,33.73760
8924158,173650149.0,2017-12-31,2017-12-30,20:00:00,2017-12-31,1:06:00,507,NaN,NaN,333 NELSON ST SW,...,NaN,1.0,Eve,Sat,18.0,LARCENY-FROM VEHICLE,Castleberry Hill,M,-84.39887,33.75156
8924159,173650159.0,2017-12-31,2017-12-31,0:41:00,2017-12-31,0:48:00,409,NaN,NaN,2348 CASCADE RD SW,...,NaN,2.0,Morn,Sun,18.0,LARCENY-FROM VEHICLE,Adams Park,R,-84.46522,33.72146

In [6]:
# creating apd_data dataframe for 2009-2017
apd_data_2009_to_2017 = pd.read_csv("./datasets/apd_crime_2009-2019.csv", parse_dates=['Report Date','Occur Date','Possible Date'], index_col = 0)
apd_data_2009_to_2017.head()

C:\Users\Museg\AppData\Local\Temp\ipykernel_27560\992343178.py:2: DtypeWarning: Columns (3,11) have mixed types. Specify dtype option on import or set low_memory=False.
  apd_data_2009_to_2017 = pd.read_csv("./datasets/apd_crime_2009-2019.csv", parse_dates=['Report Date','Occur Date','Possible Date'], index_col = 0)

,Report Date,Occur Date,Occur Time,Possible Date,Possible Time,Beat,Apartment Office Prefix,Apartment Number,Location,Shift Occurence,Location Type,UCR Literal,UCR #,IBR Code,Neighborhood,NPU,Latitude,Longitude
Report Number,,,,,,,,,,,,,,,,,,
90010930,2009-01-01,2009-01-01,1145,2009-01-01,1148.0,411.0,NaN,NaN,2841 GREENBRIAR PKWY,Day Watch,8,LARCENY-NON VEHICLE,630,2303,Greenbriar,R,33.68845,-84.49328
90011083,2009-01-01,2009-01-01,1330,2009-01-01,1330.0,511.0,NaN,NaN,12 BROAD ST SW,Day Watch,9,LARCENY-NON VEHICLE,630,2303,Downtown,M,33.75320,-84.39201
90011208,2009-01-01,2009-01-01,1500,2009-01-01,1520.0,407.0,NaN,NaN,3500 MARTIN L KING JR DR SW,Unknown,8,LARCENY-NON VEHICLE,630,2303,Adamsville,H,33.75735,-84.50282
90011218,2009-01-01,2009-01-01,1450,2009-01-01,1510.0,210.0,NaN,NaN,3393 PEACHTREE RD NE,Evening Watch,8,LARCENY-NON VEHICLE,630,2303,Lenox,B,33.84676,-84.36212
90011289,2009-01-01,2009-01-01,1600,2009-01-01,1700.0,411.0,NaN,NaN,2841 GREENBRIAR PKWY SW,Unknown,8,LARCENY-NON VEHICLE,630,2303,Greenbriar,R,33.68677,-84.49773

In [7]:
# creating apd_data dataframe for 2020
apd_data_2020 = pd.read_csv("./datasets/apd_crime_2020.csv", parse_dates=['rpt_date','occur_date','poss_date'], index_col = 0)
apd_data_2020.head()

,rpt_date,occur_date,occur_time,poss_date,poss_time,beat,apartment_office_prefix,apartment_number,location,watch,location_type,UC2 Literal,UCR_Number,neighborhood,npu,lat,long
offense_id,,,,,,,,,,,,,,,,,
200021209,2020-01-02,2020-01-02,15:21,2020-01-02,15:35,511.0,NaN,NaN,12 BROAD ST SW,Evening Watch,21.0,HOMICIDE,110,Downtown,M,33.75352,-84.39189
200061707,2020-01-06,2020-01-06,0:00,2020-01-06,18:25,109.0,NaN,NaN,785 PEYTON AVE NW,Evening Watch,NaN,HOMICIDE,110,Center Hill,J,33.77655,-84.46770
200100013,2020-01-10,2020-01-09,23:45,2020-01-10,0:00,110.0,NaN,NaN,1977 JONES AVE NW,Morning Watch,20.0,HOMICIDE,110,West Highlands,G,33.78738,-84.45208
200151818,2020-01-16,2020-01-15,17:15,2020-01-15,17:40,401.0,NaN,NaN,549 JOSEPH LOWERY BLVD,Evening Watch,99.0,HOMICIDE,110,West End,T,33.74001,-84.41782
200180440,2020-01-18,2020-01-18,3:31,2020-01-18,3:31,206.0,NaN,NaN,28 IRBY AVE NW,Morning Watch,13.0,HOMICIDE,110,South Tuxedo Park,B,33.84102,-84.38018

In [8]:
# creating apd_data dataframe for 2021-2023
apd_data_2021_to_2023 = pd.read_csv("./datasets/apd_crime_2021-2023.csv", parse_dates=['Report Date','Offense Start Date','Offense End Date'], index_col = 0)
apd_data_2021_to_2023.head()

C:\Users\Museg\AppData\Local\Temp\ipykernel_27560\2285764476.py:2: DtypeWarning: Columns (9,17) have mixed types. Specify dtype option on import or set low_memory=False.
  apd_data_2021_to_2023 = pd.read_csv("./datasets/apd_crime_2021-2023.csv", parse_dates=['Report Date','Offense Start Date','Offense End Date'], index_col = 0)

,Report Number,OffID,Report Date,Offense Start Date,Offense End Date,Day of the week,Day Number,Zone,Beat,Location,...,Neighborhood,NPU,Council District,UCR Grouping,Victim Count,GlobalID,CAD ID,Report ID,x,y
OBJECTID,,,,,,,,,,,,,,,,,,,,,
1,21365171,30739507016,2021-12-31 08:20:15,12/31/2021 7:15:00 AM,12/31/2021 7:45:00 AM,Friday,6,6,604,111 BOULEVARD NE,...,Old Fourth Ward,M,2.0,Part II,NaN,7e30cbbb-4392-47ba-8311-b1ad817105e9,NaN,3.073906e+10,-84.371743,33.757320
2,21791668,25791862748,2021-06-29 00:58:09,6/28/2021 1:17:00 AM,6/29/2021 12:00:00 AM,Sunday,1,1,102,870 MAYSON TURNER RD NW,...,Vine City,L,3.0,Part I,NaN,104a1262-ef8a-4478-b776-1594a7206307,NaN,2.579171e+10,-84.416631,33.755768
3,22041413,31620454540,2022-02-14 21:26:21,1/25/2022 2:50:00 PM,1/25/2022 3:15:00 PM,Tuesday,3,3,304,1192 PRYOR RD SW,...,Peoplestown,V,12.0,Part II,NaN,5784d36f-0839-4795-9d8b-370e59eb72b0,NaN,3.162042e+10,-84.392803,33.722882
4,193390123,25702843151,2021-06-24 10:14:31,12/5/2019 6:14:00 AM,12/5/2019 6:40:00 AM,Thursday,5,2,211,I-85 S / GA-400 S,...,Lindbergh/Morosgo,B,6.0,Part II,NaN,6217e790-ded9-421c-9ac1-eb31f53f0894,NaN,2.570282e+10,-84.361660,33.819430
5,202771329,26998571556,2021-08-19 21:53:50,10/3/2020 8:29:00 PM,10/3/2020 8:29:00 PM,Saturday,7,1,109,665 S GRAND AVE NW,...,Center Hill,J,9.0,Part I,1.0,44add9cf-98ce-4910-8884-ab3c9b3fbaf7,1.587124e+10,2.699431e+10,-84.462521,33.773181

In [9]:
crime_data = apd_data_2009_to_2017
crime_data.head()

,Report Date,Occur Date,Occur Time,Possible Date,Possible Time,Beat,Apartment Office Prefix,Apartment Number,Location,Shift Occurence,Location Type,UCR Literal,UCR #,IBR Code,Neighborhood,NPU,Latitude,Longitude
Report Number,,,,,,,,,,,,,,,,,,
90010930,2009-01-01,2009-01-01,1145,2009-01-01,1148.0,411.0,NaN,NaN,2841 GREENBRIAR PKWY,Day Watch,8,LARCENY-NON VEHICLE,630,2303,Greenbriar,R,33.68845,-84.49328
90011083,2009-01-01,2009-01-01,1330,2009-01-01,1330.0,511.0,NaN,NaN,12 BROAD ST SW,Day Watch,9,LARCENY-NON VEHICLE,630,2303,Downtown,M,33.75320,-84.39201
90011208,2009-01-01,2009-01-01,1500,2009-01-01,1520.0,407.0,NaN,NaN,3500 MARTIN L KING JR DR SW,Unknown,8,LARCENY-NON VEHICLE,630,2303,Adamsville,H,33.75735,-84.50282
90011218,2009-01-01,2009-01-01,1450,2009-01-01,1510.0,210.0,NaN,NaN,3393 PEACHTREE RD NE,Evening Watch,8,LARCENY-NON VEHICLE,630,2303,Lenox,B,33.84676,-84.36212
90011289,2009-01-01,2009-01-01,1600,2009-01-01,1700.0,411.0,NaN,NaN,2841 GREENBRIAR PKWY SW,Unknown,8,LARCENY-NON VEHICLE,630,2303,Greenbriar,R,33.68677,-84.49773

Imported data information

In [10]:
crime_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 342914 entries, 90010930 to 193652591
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Report Date              342914 non-null  datetime64[ns]
 1   Occur Date               342914 non-null  datetime64[ns]
 2   Occur Time               342914 non-null  object
 3   Possible Date            342896 non-null  datetime64[ns]
 4   Possible Time            342895 non-null  float64
 5   Beat                     342890 non-null  float64
 6   Apartment Office Prefix  10094 non-null   object
 7   Apartment Number         68274 non-null   object
 8   Location                 342912 non-null  object
 9   Shift Occurence          342914 non-null  object
 10  Location Type            333698 non-null  object
 11  UCR Literal              342914 non-null  object
 12  UCR #                    342914 non-null  int64
 13  IBR Code                 342744 non-null  object
 14  Neighborhood             330551 non-null  object
 15  NPU                      342775 non-null  object
 16  Latitude                 342914 non-null  float64
 17  Longitude                342914 non-null  float64
dtypes: datetime64[ns](3), float64(4), int64(1), object(10)
memory usage: 49.7+ MB

## Manipulating the Data

In order to separate the data by month, day, and year from the report date, three new variable needed to be created. 
All "Unk" in data will not be included

In [ ]:
crime_data['rpt_year'] = crime_data['rpt_date'].dt.year
crime_data['rpt_month'] = crime_data['rpt_date'].dt.month
crime_data['rpt_day'] = crime_data['rpt_date'].dt.day

In [ ]:
# crime_data = crime_data[crime_data.Shift != 'Unk']
# crime_data = crime_data[crime_data.Avg_Day != 'Unk']
crime_data.head()

In [ ]:
crime_data.describe()

## Graph #1: Maximum Number of Victims Affected Per Crime Type

Two columns were kept for the first graph. The type of crime, 'UC2 Literal', and the maximum number of victims. They were added to a new variable, "crimePerMonth."

In [ ]:
victims_crime = crime_data[['UC2 Literal']]
victims_crime.head()

crimePerMonth is grouped by the type of crime in crime_group.

In [ ]:
victims_group=victims_crime.groupby(['UC2 Literal'])
victims_group.size()

The sum function is used to retrieve the total number of victims affected per type of crime. Then, sorted in descending order by maximum number of victims affected.

In [ ]:
total_victims = victims_group.sum()
total_victims.sort_values(by='MaxOfnum_victims',ascending=False).head()

In [ ]:
total_victims.describe()

A bar chart plot is created to show that more victims were affected by 'Larceny- From Vehicle.' The least amount of victims were affected by 'Homicide.'

In [ ]:
victims_plot = total_victims.sort_values(by='MaxOfnum_victims',ascending=False).plot(kind='bar',legend=None,title="Maximum Victims Affected Per Crime Type in Atlanta 2017")
victims_plot.set_xlabel("Type of Crime")
victims_plot.set_ylabel("Maximum Number of Victims")

In the first graph, 11,164 victims were affected from larceny from a vehicle in Atlanta 2017. No victims were affected in a homicide.

## Graph #2: Max Victims Affected By Day

Breakdown the type of crime by 'Shift' day and 'Avg_Day'. This will inform us when time of day and day of the week the crimes occured.

In [ ]:
victims = crime_data[['UC2 Literal','MaxOfnum_victims', 'Shift', 'Avg_Day','rpt_month']]
victims.dropna(subset=['Shift'])
victims.head()

Groupby is used to organize the data into the Shift, day of the week, and month reported of crime.

In [ ]:
victims_breakdown = victims.groupby(['Shift', 'Avg_Day','rpt_month']).sum()
victims_breakdown.head()

To graph the data as a stacked bar graph, it must be unstacked first.

In [ ]:
victims_breakdown.unstack()

In [ ]:
breakdown_plot = victims_breakdown.unstack().plot(kind='bar',stacked=True,title="Max Victims Affected By Day",figsize=(12, 10))
breakdown_plot.set_xlabel("Day of the Week")
breakdown_plot.set_ylabel("Max Victims Affected")
breakdown_plot.legend(["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"], title="Month Reported", loc=2,ncol=3)

In the second graph, most victims were affected on Friday evenings during the months of March and Novemeber. On Saturday evenings during the months of September and October.

## Graph #3:  Atlanta Crime Type Frequency

We need to find the correlation between type of crime and frequency

In [ ]:
crime = crime_data['UC2 Literal']
summary = crime.value_counts(sort = True).to_frame()
summary = summary.reset_index()
summary.columns = ['Crime Type', 'Frequency']
summary

Convert new variable "summary" into an array to create a bar chart

In [ ]:
crime_type = np.array(summary['Crime Type'])
crime_freq = np.array(summary['Frequency'])
crime_type
crime_freq

Create bar chart

In [ ]:
plt.barh(crime_type, crime_freq, alpha =0.5)
plt.xlabel('Number of Crime')
plt.title('Atlanta Crime Type Frequency')
plt.show()

In [ ]:
summary.describe()

On the third graph: 
    Crime with highest freyquency: Larceny - From Vehicle at 8740
    Crime with highest freyquency: Homicide at 69

## Graph #4: Frequency of Crimes By Day

We want to find the day of the week with the most crime

In [ ]:
date = crime_data['Avg_Day']
date_count = date.value_counts(sort = True).to_frame()
date_count = date_count.reset_index()
date_count.columns = ['Date Type', 'No of Crime']
date_count

Convert the data into an array for bar chart

In [ ]:
date_type = np.array(date_count['Date Type'])
crime_no = np.array(date_count['No of Crime'])

Create bar chart

In [ ]:
plt.bar(date_type,crime_no, alpha =0.5)
plt.ylabel('Number of Crime')
plt.title('Crime Frequency by Date')
plt.show()

In 4th chart:
    Crime happens the most on Saturday
    Crime happens least on Thursday

## Graph #5: Percentage of Crimes Per Day

Show columns in dataframe

In [ ]:
crime_data.columns
for col in crime_data.columns:
    print(col)

In [ ]:
atl_crime_pd = pd.DataFrame(crime_data)
atl_crime_pd.columns

In [ ]:
atl_crime_pd.rename(columns= {'Avg_Day':'Day of Week','Shift':'Day or Night' ,'neighborhood':'Neighborhood', 'UC2 Literal':'Type of Crime'}, inplace=True)

In [ ]:
for col in atl_crime_pd.columns:
    print(col)

## Graph #6: "Crime Frequency Distribution By Day" Bar Graph

In [ ]:
#create series grouped by frequency of days together from the 'atl_crime_pd' dataframe's column 'Day of Week'
days_freq = atl_crime_pd.groupby(['Day of Week']).size()
days_freq

In [ ]:
#convert single dimension 'days_freq' series, to multi-dimensional 'days_freq' dataframe and reset index
days_freq = days_freq.to_frame().reset_index()
days_freq

In [ ]:
#Changing the order of the day index to be chronologically sorted Monday to Sunday
days_freq.set_axis([4,0,5,6,3,1,2], inplace=True)
days_freq

In [ ]:
#Rename column 'Day of Week' to 'Day' and column '0' to 'Freq' in new days_freq dataframe
days_freq.columns = ['Day', 'Freq']
days_freq

In [ ]:
#sorted dataframe by index to have dataframe now be in chronological order by day
days_freq = days_freq.sort_index()
days_freq

In [ ]:
fig = plty.bar(days_freq, x='Day', y='Freq', color='Freq', text='Freq')
fig.update_traces(texttemplate='%{text:.2s}', textposition='outside', textfont_size=16, marker=dict(line=dict(color='#000000', width=2)))
fig.update_layout(uniformtext_minsize=8, uniformtext_mode='hide')
fig.show()

## Graph #7: Crime Frequency Distribution By Day Pie Graph

In [ ]:
fig = plty.pie(days_freq, values='Freq', names='Day', title='Crime Frequency Distribution By Day')
fig.update_traces(textposition='inside', textinfo='percent+label',
                  textfont_size=16, marker=dict(line=dict(color='#000000', width=2)))
fig.show()

## Graph #8 and #9: Type of Crime/Day Frequency Distribution Sunburst Graphs

In [ ]:
"""Using groupby to group columns 'Type of Crime' and 'Day of Week'... 
for finding the frequency of the crime types during days of the week...
then converting the series produced to a dataframe for handling
"""
crime_type_day_freq = atl_crime_pd.groupby(['Type of Crime', 'Day of Week']).size()
crime_type_day_freq

In [ ]:
crime_type_day_freq = crime_type_day_freq.to_frame().reset_index()
crime_type_day_freq

In [ ]:
crime_type_day_freq.columns

In [ ]:
#Renamed columns in dataframe 'crime_type_day_freq' to "Type of Crime", "Day", and "Freq"
crime_type_day_freq.columns = ['Type of Crime', 'Day', 'Freq']
crime_type_day_freq

In [ ]:
dayOfWeekOrderDict = {"Mon":0, "Tue":1, "Wed":2, "Thu":3, "Fri":4, "Sat":5, "Sun":6}
dayOfWeekOrderDict

In [ ]:
crime_type_day_freq["DayNum"]=""
crime_type_day_freq

In [ ]:
for key in range(len(crime_type_day_freq)):
    if crime_type_day_freq.loc[:,'DayNum'][key] in dayOfWeekOrderDict:
        crime_type_day_freq.loc[:,'DayNum'][key] = dayOfWeekOrderDict.get(crime_type_day_freq["Day"][key])

In [ ]:
crime_type_day_freq

In [ ]:
crime_type_day_freq.sort_values(by=['Type of Crime','DayNum'], inplace=True)
crime_type_day_freq

In [ ]:
fig = px.sunburst(crime_type_day_freq, path=['Type of Crime', 'Day'], values='Freq', 
                  color='Type of Crime',color_continuous_scale='RdBu')
fig.show()

In [ ]:
fig = px.sunburst(crime_type_day_freq, path=['Day', 'Type of Crime'], values='Freq')
fig.show()